body,header,nav,ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

body {
  width: 100%;
  -webkit-font-smoothing: antialiased;
}

h2 {
  font-size: 2em;
}

p, a {
  font-size: 1.1em;
}

a {
  text-decoration: none;
}

a:hover {
  font-weight: 500;
  cursor: pointer;
}

/********header********/

nav {
  position: fixed;
  width: 100%;
  height: 40px;
  z-index: 9999;
  background-color: #A4A4A4;
}

.nav-links ul {
  width: 50%;
  float: right;
  text-align: right;
}

.nav-links li {
  display: inline-block;
  margin-top: 10px;
  margin-left: 8%;
  font-family: "Avenir", "Helvetica", sans-serif;
}

.nav-links li:last-child {
  margin-right: 4%;
}

.nav-links a, .dropdown a {
  color: white;
}

.nav-links a:hover, .dropdown a:hover {
  font-weight: 400;
  color: #FDCC45;
}

.dropdown {
  width: 50%;
  display: none;
  position: relative;
  float: right;
  text-align: center;
  font-family: "Avenir", "Helvetica", sans-serif;
  cursor: pointer;
}

.dropdown:before {
  content: "";
  position: absolute;
  top: 15px;
  right: 1em;
  width: 20px;
  height: 0.125em;
  border-top: 0.375em double #000;
  border-bottom: 0.125em solid #000;
}

.dropdown-content {
  display: none;
  position: relative;
  background-color: #A4A4A4;
  top: 40px;
  font-size: 1.5em;
}

.dropdown-content li {
  padding: 2%;
}

.dropdown-content a:not(:first-child) li {
  border-top: 1px solid lightgrey;
}

.masthead {
  padding-top: 100px;
  padding-bottom: 50px;
  margin-top: 40px;
  background-image: url("../images/sunflowers.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  width: 100%;
  max-height: 370px;
  opacity: 0.8;
  text-align: center;
  font-family: "Meta Serif", times;
/*  image from http://www.thegunnysack.com/chalkboard-image-background-chalkboard/
*/}

.masthead-intro {
  margin-bottom: 0.1em;
  font-size: 2em;
}

.masthead-name {
  margin-top: -0.2em;
  font-size: 6em;
  text-shadow: 2px 2px gray;
}

/********all-sections********/

#introduction, #portfolio-section, #about-me-section {
  padding-left: 15%;
  display: inline-block;
  width: 70%;
  text-align: justify;
  font-family: "Avenir", "Helvetica", sans-serif;
  padding-top: 2%;
}

/********introduction-section********/

#introduction {
  margin-top: 4%;
  margin-bottom: 1%;
  font-size: 1.25em;
}

/********portfolio-section********/

#portfolio-section h2 {
  color: black;
}

.projects-container {
  margin-top: 5%;
  margin-bottom: 3%;
}

.projects-container a {
  font-size: 1em;
  color: black;
}

.project:not(:last-child) {
  margin-bottom: 60px;
}

.project-img {
  width: 50%;
  display: inline-block;
  float: left;
}

.project-img img {
  width: 100%;
  min-height: 188px;
  display: inline-block;
  border: 6px solid #A4A4A4;
}

.project-text {
  width: 40%;
  display: inline-block;
  padding-bottom: 5%;
  margin-left: 8%;
  float: right;
}

.project-text a {
  color: #585858;
}

/********about-me-section********/

#about-me-section {
  margin-bottom: 5%;
}

#about-me-section h3 {
  color: #FDCC45;
}

/********footer********/

#content-footer {
  width: 100%;
  display: inline-block;
  padding-top: 3%;
  padding-bottom: 4%;
  background-color: #A4A4A4;
  color: #FFF;
  text-align: center;
  font-family: "Avenir", "Helvetica", sans-serif;
}

#content-footer li {
  display: inline;
  padding: 0 1%;
  color: #FDCC45;
}

#content-footer a {
  color: #FDCC45;;
}

/********media-queries********/
@media only screen and (max-width: 1052px) {
  #introduction, #portfolio-section, #about-me-section {
    width: 84%;
    padding-left: 8%;
  }
}

@media only screen and (max-width: 780px) {
  .nav-links ul {
    width: 70%;
  }
  p, a {
    font-size: 1em;
  }
  #introduction, #portfolio-section, #about-me-section {
    width: 84%;
    padding-left: 8%;
  }
}

@media only screen and (max-width: 710px) {
  .nav-links {
    display: none;
  }
  .dropdown {
    display: inline-block;
  }
  .masthead-name {
    font-size: 5em;
  }
  p, a {
    font-size: 1em;
  }
  #introduction, #portfolio-section, #about-me-section {
    width: 90%;
    padding-left: 3%;
  }
  .project-img {
    width: 80%;
    display: block;
    margin: 0 auto;
    float:none;
  }
  .project-text {
    width: 80%;
    display: block;
    padding-bottom: 0;
    margin: 0 auto;
    float: none;
  }
  .project-text h2 {
    margin-top: 5px;
  }
}

@media only screen and (max-width: 480px) {
  .masthead {
    padding: 3em 0;
  }
  .masthead-name {
    font-size: 3em;
  }
  p, a {
    font-size: 1em;
  }
  #portfolio-section {
    width: 90%;
  }
  .project-img {
    width: 90%;
  }
  .project-text {
    width: 90%;
  }
  #about-me-section {
    width: 90%;
    padding-left: 5%;
  }
}

