body,header,nav,ul,h1,h2 {
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.17em;
  color: #FDCC45;
}

p, a {
  font-size: 1.1em;
}

a {
  color: #FDCC45;
  text-decoration: none;
}

/********header********/

.masthead {
  padding: 6em 0;
  background-image: url(images/sunflowers.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  width: 100%;
}

.masthead-intro,
.masthead-name {
  text-align: center;
  font-family: "Meta Serif";
}

.masthead-intro {
    margin-bottom: 0.1em;
    font-size: 2em;
}

.masthead-name {
    margin-top: -0.2em;
    font-size: 6em;
    text-shadow: 2px 2px gray;
}

/********sections********/

.intro-section, .where-from-section, .about-me-section {
  padding-left: 25%;
  display: inline-block;
  width: 50%;
  text-align: justify;
  font-family: "Avenir", "Helvetica", sans-serif;
}

.intro-section {
  padding-top: 5%;
}

.where-from-section, .about-me-section {
  padding-top: 3%;
}

.about-me-section {
  padding-bottom: 3%;
}


/********footer********/

.content-footer {
  display: inline-block;
  width: 100%;
  padding-top: 3%;
  padding-bottom: 4%;
  background-color: gray;
  color: white;
  text-align: center;
  font-family: "Avenir", "Helvetica", sans-serif;
}

.connect > li {
  display: inline;
  padding: 0 1%;
}

/********media-queries********/

@media only screen and (max-width: 500px) {
  .masthead {
    padding: 3em 0;
  }
  .masthead-name {
    font-size: 3em;
  }

  .intro-section, .where-from-section, .about-me-section {
    width: 80%;
    padding-left: 10%;
  }
}






