body,header,nav,ul,h1,h2 {
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  -webkit-font-smoothing: antialiased;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.17em;
  color: #FDCC45;
}

p, a {
  font-size: 1.1em;
}

a {
  text-decoration: none;
}

a:hover {
  font-weight: 600;
  cursor: pointer;
}

/********header********/

.top-navigation {
  position: fixed;
  width: 100%;
  z-index: 9999;
  background-color: #A4A4A4;
}

.top-navigation > .content {
  height: 40px;
}

.nav-links {
  float: right;
  width: 475px;
  list-style-type: none;
}

.nav-links li {
  float: left;
  display: inline-block;
  margin-top: 2%;
  margin-left: 8%;
  font-size: 16px;
  font-family: "Avenir", "Helvetica", sans-serif;
  color: white;
}

.nav-links a {
  color: white;
}

.masthead {
  padding: 6em 0;
  margin-top: 40px;
  background-image: url(images/sunflowers.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  width: 100%;
}

.masthead-intro,
.masthead-name {
  text-align: center;
  font-family: "Meta Serif", times;
}

.masthead-intro {
    margin-bottom: 0.1em;
    font-size: 2em;
}

.masthead-name {
    margin-top: -0.2em;
    font-size: 6em;
    text-shadow: 2px 2px gray;
}

/********portfolio-section********/

#introduction {
  margin-top: 5%;
}

#introduction, #portfolio-section, #about-me-section {
  padding-left: 25%;
  display: inline-block;
  width: 50%;
  text-align: justify;
  font-family: "Avenir", "Helvetica", sans-serif;
}

#portfolio-section {
  padding-top: 5%;
}

#portfolio-section h2 {
  color: black;
}

/********projects********/

.projects-container {
  margin-top: 5%;
  margin-bottom: 5%;
}

.projects-container a {
  font-size: 1em;
  color: black;
}

.first-project-img {
  width: 50%;
  display: inline-block;
  border: 6px solid #A4A4A4;
}

.first-project-img img {
  width: 100%;
  display: inline-block;
}

.first-project-text {
  width: 45%;
  display: inline-block;
  padding-bottom: 5%;
  float: right;
}

/********about-me-section********/

#about-me-section {
  padding-top: 5%;
  padding-bottom: 5%;
}

/********footer********/

#content-footer {
  display: inline-block;
  width: 100%;
  padding-top: 3%;
  padding-bottom: 4%;
  background-color: #A4A4A4;
  color: white;
  text-align: center;
  font-family: "Avenir", "Helvetica", sans-serif;
}

.connect > li {
  display: inline;
  padding: 0 1%;
  color: #FDCC45;
}

#content-footer a, .connect a {
  color: #FDCC45;;
}

/********media-queries********/

@media only screen and (max-width: 500px) {
  .masthead {
    padding: 3em 0;
  }
  .masthead-name {
    font-size: 3em;
  }

  .portfolio-section, .about-me-section {
    width: 80%;
    padding-left: 10%;
  }

  .nav-links {
    width: 100%;
  }
}

