body,header,nav,ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

body {
  width: 100%;
  -webkit-font-smoothing: antialiased;
}

h2 {
  font-size: 2em;
}

p, a {
  font-size: 1.1em;
}

a {
  text-decoration: none;
}

a:hover {
  font-weight: 500;
  cursor: pointer;
}
