#content-footer {
  width: 100%;
  display: inline-block;
  padding-top: 3%;
  padding-bottom: 4%;
  background-color: $gray-main;
  color: $white;
  text-align: center;

  li {
    display: inline;
    padding: 0 1%;
    color: $yellow;
  }

  a {
    color: $yellow;
  }

  a:hover {
    color: $white;
  }
}

