#content-footer {
  width: 100%;
  display: inline-block;
  padding-top: 3%;
  padding-bottom: 4%;
  background-color: #A4A4A4;
  color: #FFF;
  text-align: center;
  font-family: "Avenir", "Helvetica", sans-serif;

  li {
    display: inline;
    padding: 0 1%;
    color: #FDCC45;
  }

  a {
    color: #FDCC45;;
  }
}

